.icon-text{
    color: black;
    font-size: 120%;
    font-weight: bold;
}


.btn-azure, .btn-azure:focus {
    background-color: #1b6463 !important;
    border-color: #05342c;
    color: #fff;
}

.btn-azure:hover,
.open .btn-azure.dropdown-toggle {
    background-color: #2fa8a7 !important;
    border-color: #089c8c;
    color: #fff
}

a>small{
    color: #05342c;
}

#login_logo{
    font-size: 50px;
}

p{
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: #05685e;
}
